<%
if organization
  if organization.logo.present?
    %><%= image_tag organization.logo.medium.url, alt: organization.name %><%
  else
    # small devices
    %>
      <!-- Only for small devices -->
      <div class="fwk-row part-show-sm">
        <div class="fwk-col-xs-2">
          <div class="part-topNavbar-content">
            <svg aria-label="Navegació" role="img" class="icon--menu icon part-icon-bars" data-toggle="offCanvas">
              <use xlink:href="/assets/decidim/icons-aa71fb7b9fb5d043b71aef057f4425f0f67c6e3642210bc7d2a80d6db01e4206.svg#icon-menu" class="part-icon-bars"></use>
            </svg>
          </div>
        </div>
        <div class="fwk-col-xs-8">
         <!-- <div class="part-gencat-cat-img" onclick="window.open('https://web.gencat.cat/ca/inici/','_blank');"></div> -->
          <div class="title-sm show-for-small">
            <%= link_to "/", class: "part-a-white" do %>
              Participa
            <% end %>
          </div>
        </div>
        <div class="fwk-col-xs-2"></div>
      </div>
      <%# large devices %>
      <div class="part-hide-sm">
        <div class="part-gencat-logo-nomargin" onclick="window.open('https://web.gencat.cat/ca/inici/','_blank');"></div>
      </div>
<% end
else
  %><%= Decidim.application_name %><%
end %>
