<!DOCTYPE html>
<html>
<head>
  <title>Decidim regulations</title>
  <%= append_stylesheet_link_tag "decidim/regulations/application", media: "all" %>
  <%= append_javascript_pack_tag "decidim/regulations/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
