<!DOCTYPE html>
<html>
<head>
  <title>Participa idcat</title>
  <%= stylesheet_link_tag    "participa/idcat/application", media: "all" %>
  <%= javascript_include_tag "participa/idcat/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
