@import "decidim/application";
@import "../settings";
@import "../vendor/mq";

$SoftGrey : #efefef;
$Grey     : #666;

$DarkGrey   : #2c2930;
$MediumGrey : #828282;
$LightGrey  : #e8e8e8;

.off-canvas-wrapper{
    .main-footer {
        background-color: $SoftGrey !important;

        @include mq($until: large_phone){
            padding: 16px 10px;
        }
    }
}

.main-footer a {
  color: $Grey;
}

.mini-footer {
  padding: 1rem 0;
  color: $LightGrey;
  background-color: $DarkGrey;
}

.mini-footer a {
    color: $MediumGrey !important;
}

.part-footer-hr{
    width: 100%;
    margin: 5px;
    background-color: #a6a6a6;
    height: 1px;
    margin-bottom: 15px;
    margin-top: 0px;
}

.participa-footer-grey {
    color: #666;
    font-size: 11px;
}

.part-footer-sm-show {
    display: none;
    @include breakpoint( 768 down){
        display: block;
    }
}
.part-subfooter-hr {
    width: 100%;
    margin: 5px;
    background-color: #d9d9d9;
    height: 1px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.part-subfooter-network-hr {
    width: 100%;
    margin: 5px;
    background-color: #ccc;
    height: 2px;
    margin-top: 15px;
}

.part-no-padding-left {
  padding-left: 0px;
}

.part-subFooter-logo {
    background: image-url("logo_generalitat_dark.png") no-repeat 0 0;
    text-indent: -555em;
    margin: .5em 0;
    margin-left: 15px;
    margin-right: 15px;
    width: 125px;
    height: 25px;
}


.part-footer-sm-hide {
    @include breakpoint( 768 down){
        display: none;
    }
    @include breakpoint( 992 down){
        p {
            text-align: center;
        }
        .part-footer-section {
            text-align: center;
        }
    }
}

.input-telephone {
    width: 91% !important;
    background: #fff !important;
    font-family: 'Open Sans Semibold',Helvetica,Arial,sans-serif !important;
    font-size: .750em !important;
    color: #666 !important;
    width: 82% !important;
    height: 1.6em !important;
    margin-bottom: 1px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    
    @include breakpoint( 992 down){
        width: 50% !important;
        margin-left: 25% !important;
    }
}

.part-logo-footer-gencat{
    @include breakpoint( 992 down){
        display: none;
    }
}

.part-circle {
    margin-left: .5em;
    padding: .40em;
    background: $colorTextLegalAdvice;
    border-radius: 100%;
    color: #fff;
    font-weight: normal;
    display: inline;
    float: left;
    font-size: .875em;
    height: 2.000em;
    position: relative;
    width: 2.000em;
    text-align: center;
    line-height: 1.1em;

    &:hover{
        background-color: #fff;
        color: #000;
    }
}
.part-avis-legal {
    font-family: 'Open Sans';
    font-size: 11px;
    color: $colorTextLegalAdvice !important;
    @include breakpoint( 768 down){
        text-align: center;
    }
}
