@import "../settings";
@import "../vendor/mq";

.title-bar{
    background-color: #333;

    @include mq($until: large_phone){
        .part-gencat-logo-nomargin{
            top: -30px;
            left: 10px;
            position: absolute;
        }
    }
}
.topbar{
    @include mq($until: large_phone){
        height: 62px;

        .language-choose{
            top: -28px;
            right: 10px;
            left: inherit;
        }
    }
    .logo-wrapper{
        span{
            display: inline-block;
            position: relative;

            padding: 0;
            line-height: 1;
            
            color: white;
            font-weight: 600;
            font-size: 1.4em;
            text-align: left;
        }
    }
    .topbar__notifications{
        .icon{
            &:hover{
                opacity: .7;
            }
        }
    }
}