@import "../settings";
@import "../vendor/mq";

.timeline{
    .timeline__item:not(.timeline__item--inactive){
        .timeline__phase{
            background-color: $RedGenCat;
        }
    }
    .timeline__item--current{
        .timeline__phase{
            background-color: $RedGenCat;
        }
        .timeline__header{
            background-color: $RedGenCat;
        }
        .timeline__info{
            border-color: $RedGenCat;
        }
    }
}