body {
  .card--list__icon{
    fill: var(--colors-gencat-red);
  }
}

// Decidim use max-height and min-height, but with narrow images,
// image container snaps to height and show different.
.card__image {
  height: 10rem !important;
}

.badge-container .badge__logo--small {
  height: auto !important;
}

.card__grid-text {
  font-weight: normal !important;
}
