// FEDER
.footer-feder {
  color: var(--colors-text-default2);

  .main-footer__top {
    justify-content: space-between;
  }

  .logo {
    display: flex;

    img {
      max-width: 280px;
    }

    .external-link-indicator {
      top: -8px !important;
      right: -250px !important;
    }
  }
}

.part-no-padding-left {
  padding-left: 0px;
}

.input-telephone {
    width: 91% !important;
    background: #fff !important;
    font-family: 'Open Sans Semibold',Helvetica,Arial,sans-serif !important;
    font-size: .750em !important;
    color: #666 !important;
    width: 82% !important;
    height: 1.6em !important;
    margin-bottom: 1px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    
    @include breakpoint( 992 down){
        width: 50% !important;
        margin-left: 25% !important;
    }
}

.part-logo-footer-gencat{
    @include breakpoint( 992 down){
        display: none;
    }
}

.part-avis-legal {
    font-family: 'Open Sans';
    font-size: 11px;
    color: var(--colors-gencat-text-normal)LegalAdvice !important;
    @include breakpoint( 768 down){
        text-align: center;
    }
}

section.footer__subhero.extended.subhero.home-section {
  background-color: var(--colors-gencat-white);
  padding-bottom: 0;
  font-size: 14px;
  text-align: left;
}
