// FEDER
.footer-feder {
  color: var(--colors-text-default2);

  .main-footer__top {
    justify-content: space-between;
  }

  .logo {
    display: flex;

    img {
      max-width: 280px;
    }

    .external-link-indicator {
      top: -8px !important;
      right: -250px !important;
    }
  }
}

.main-footer {
  background-color: #d3d3d3 !important;

  p,
  h2,
  a {
    color: black;
  }

  li,
  a {
    text-decoration-line: none !important;
    text-decoration: none !important;
    font-weight: normal !important;
  }

  &__language-container {
    span {
      color: black !important;
    }

    button {
      border-color: black;
    }
    
    svg {
      fill: black !important;
    }
  }
}

.mini-footer {
  background-color: var(--colors-gencat-gray-dark) !important;
}
