.title-bar{
  background-color: #333;

  @include mq($until: large_phone){
    .part-gencat-logo-nomargin{
      top: -30px;
      left: 10px;
      position: absolute;
    }
  }
}
.topbar{
    @include mq($until: large_phone){
        height: 62px;

        .language-choose{
            top: -28px;
            right: 10px;
            left: inherit;
        }
    }
    .logo-wrapper{
      display: inline-block;

      span{
        display: inline-block;
        position: relative;

        padding: 0;
        line-height: 1;

        color: white;
        font-weight: 600;
        font-size: 1.4em;
        text-align: left;
      }

      a:hover {
        text-decoration: none;
      }

      .external-link-indicator {
        display: none;
      }
    }

    .topbar__notifications{
        .icon{
            &:hover{
                opacity: .7;
            }
        }
    }
    .topbar__search input{
      background: var(--colors-gencat-white);
      color: var(--colors-gencat-gray-hover);
      &::placeholder{
        color: var(--colors-gencat-gray-logo);
      }
    }
    .topbar__search:not(:focus-within) button{
      color: rgba(255, 255, 255, 0.8);
    }
}
