.process-nav__link {
    text-transform: inherit !important;
    &:hover {
        color: var(--colors-gencat-red) !important;
        text-decoration: underline;
        .external-icon {
            color: var(--colors-gencat-red) !important;
            fill: var(--colors-gencat-red) !important;
        }
    }
}

.process-nav__content {
    .is-active {
      color: var(--colors-gencat-red) !important;
      .external-icon {
          color: var(--colors-gencat-red) !important;
          fill: var(--colors-gencat-red) !important;
      }
  }
}

  .phase-item--past{
    &::after{
      background-color: var(--colors-gencat-red) !important;
    }
    span{
      background-color: var(--colors-gencat-red) !important;
      opacity: 1;
    }
  }

  .hollow {
      &:hover {
          color: var(--colors-gencat-red) !important;
          border-color: var(--colors-gencat-red) !important;
      }
  }

  .section {
      .lead {
          p {
            font-size: 35px;
            color: var(--colors-card-notice) !important;
          }
      }
    p, ul, li {
        font-size: 16px;
        color: var(--colors-gencat-text-normal);
    }
  }

.definition-data {
    border-radius: 0px !important;
}

.participatory_structure {
    p {
        color: var(--colors-gencat-text-normal);
    }
}

.definition-data__item {
    color: var(--colors-gencat-text-normal);
}

.is-dropdown-submenu-parent {
    ul {
        a {
            color: var(--colors-gencat-text-normal) !important;
        }
        a:hover {
            font-weight: bold !important;
        }

    }
}

#comments {
    .is-dropdown-submenu-parent {
        a {
            color: var(--colors-gencat-red);
        }
    }
}

#proposals {
    .is-dropdown-submenu-parent {
        a {
            color: var(--colors-gencat-red);
        }
    }
}

.author__name {
    color: var(--colors-gencat-red) !important;
}

.icon-flag {
    &:hover {
        color: var(--colors-gencat-red) !important;
        fill: var(--colors-gencat-red) !important;
    }
}
.button.hollow.secondary{
    color: var(--colors-gencat-white);
    border-color: var(--colors-gencat-red);
}
.add-comment {
    .button--sc {
        background: var(--colors-gencat-red);
    }

    p {
        span {
            a {
                color: var(--colors-gencat-red) !important;
                :hover {
                    text-decoration: underline !important;
                }
            }
        }
    }
        textarea.is-invalid-input {
            border-color: var(--colors-gencat-red)
        }
        .form-error {
            color: var(--colors-gencat-red);
        }
}

.tags {
    a {
        color: var(--colors-gencat-red) !important;
    }
}

.card--meeting {
    .address__icon {
        svg {
            use {
                fill: var(--colors-gencat-red) !important;
            }
        }
    }
    .card__datetime {
        border-left: 4px solid var(--colors-gencat-red);
    }

    .card__link {
        &:hover {
            text-decoration: underline !important;
            color: var(--colors-gencat-text-normal) !important;
        }
    }
}

.card--result {
    .address__icon {
        svg {
            use {
                fill: var(--colors-gencat-red) !important;
            }
        }
    }
    .card__datetime {
        border-left: 4px solid var(--colors-gencat-red);
    }

    .card__link {
        &:hover {
            text-decoration: underline !important;
            color: var(--colors-gencat-text-normal) !important;
        }
    }
}

.card--result .card__link:hover, .card--result .card__link:focus {
    color: var(--colors-gencat-red) !important;
}

.card--meeting .card__link:hover, .card--meeting .card__link:focus {
    color: var(--colors-gencat-red) !important;
}

.card--proposal {
    .card__header {
        a {
            color: var(--colors-gencat-red) !important;
            &:hover {
                text-decoration: underline !important;
                color: var(--colors-gencat-text-normal) !important;
            }

        }

        .author__name {
            color: var(--colors-gencat-red) !important;
        }
    }

    p {
        color: var(--colors-gencat-text-normal);
    }
}

.process-header__phase .button, .process-phase .button{
  border: none;
}

.card--list {
    .card--list__item {
        .card--list__text {
            div:hover {
                .card--list__heading {
                    text-decoration: underline !important;
                    // color: #3D393C;
                }
            }
        }
        .icon-cloud-download:hover {
            use {
                fill: #3D393C;
            }
        }
    }
}

.row.attachments{
  .card--list {
      .card--list__item {
          .card--list__text {
              div:hover {
                  .card--list__heading {
                      text-decoration: none !important;
                      // color: #3D393C;
                  }
              }
          }
          .icon-cloud-download:hover {
              use {
                  fill: #3D393C;
              }
          }
      }
  }

}

.pagination {
    .current {
        background: var(--colors-gencat-red);
    }
}

.title-action__action {
    color: var(--colors-gencat-red) !important;
    border-color: var(--colors-gencat-red) !important;
}
.title-action__action.button{
  color: #fff !important;
}

.filters__section {
    .filters__search {
        .input-group {
            .input-group-field {
                border-radius: 0px !important;

                &:hover {
                    border-color: #bababa !important;
                }
            }
        }
    }
}

.process-nav__link:hover, .process-nav__link:focus {
    color: var(--colors-gencat-red);
    text-decoration: underline !important;
    svg{
        fill:  var(--colors-gencat-red);
    }
}

#new_proposal_ {
    button {
        background: var(--colors-gencat-red);
    }
    .ql-toolbar {
      button {
        background-color: #fff;    
      }
    }
    input {
        border-radius: 0px !important;
    }
    .input:focus{
        border-color: #bababa !important;
    }
    textarea {
        border-radius: 0px !important;
        color: #9c9c9c;
    }
    .textarea:focus{
        border-color: #bababa !important;
    }
    .is-invalid-label {
        color: var(--colors-gencat-red);
        textarea {
            border-color: var(--colors-gencat-red)
        }
        .form-error {
            color: var(--colors-gencat-red);
        }
    }
}

.muted-link {
    color: var(--colors-gencat-red) !important;
}

.muted-link:hover {
    text-decoration: underline !important;
}


.card.extra {
    .button:not(.success) {
        background: var(--colors-gencat-red) !important;

        &:hover{
            background-color: #f30000 !important;
        }
    }
}

.budget-summary {
    .budget-summary__progressbox {
        button {
            background: var(--colors-gencat-red);
        }
    }

    p {
        font-size: 16px;
        color: var(--colors-gencat-text-normal);
    }
}

.budget-list {
    .card--list__item {
        .budget-list__title {
            font-family: "Open Sans";
            &:hover {
                color: #3D393C;
                text-decoration: underline !important;
            }
        }
    }
}

.process-header__container {
    .process-header__hashtag {
        a {
            color: var(--colors-gencat-white);
            &:hover {
                text-decoration: underline !important;
            }
        }
    }
}

#loginModal {
    .register-form.new_user {
        button {
            background: var(--colors-gencat-red);
        }
    }
    .sign-up-link {
        color: #3D393C;
        &:hover {
            text-decoration: underline !important;
        }
    }
    .reveal__title {
            font-size: 28px;
    color: var(--colors-gencat-text-normal);

    }
}

.callout.next-meetings {
    &:hover {
        color: var(--colors-gencat-red);
        text-decoration: underline;
    }
}

#participatory-space-filters{
  .picker-prompt,
  select{
    width: 70%;
  }
}
