.tabs{
    .tabs-title{
        &.is-active{
            a{
                box-shadow: inset 4px 0 0 var(--colors-gencat-red);

                color: var(--colors-gencat-red);
            }
        }
        a{
            &:hover{
                color: var(--colors-gencat-red);
            }
        }
    }
}

.tabs-content{
    button,
    .button{
        background-color: var(--colors-gencat-red);
    }
    .change-password {
        background-color: #fff;
        color: var(--colors-gencat-red);
    }
}

#profile-tabs {
  .tabs-title {
    a {
      color: var(--colors-gencat-red) !important;
    }
  }
}
