.timeline{
    .timeline__item:not(.timeline__item--inactive){
        .timeline__phase{
            background-color: var(--colors-gencat-red);
        }
    }
    .timeline__item--current{
        .timeline__phase{
            background-color: var(--colors-gencat-red);
        }
        .timeline__header{
            background-color: var(--colors-gencat-red);
        }
        .timeline__info{
            border-color: var(--colors-gencat-red);
        }
    }
}
