// This is a file that can be overridden by the application in order to override
// some of the Foundation/Decidim SCSS settings and variables after the default
// settings have been loaded.
//
// To override styles use decidim_application.scss
//
// By default this is empty.

$breakpoints: (
  small: 0,
  smallmedium: 450px,
  medium: 640px,
  mediumlarge: 800px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);
$breakpoint-classes: (small smallmedium medium mediumlarge large xlarge);

/* FONTS */

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular.ttf');
  src: url('fonts/OpenSans-Regular.ttf?#iefix') format('truetype'),
       url('fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url('fonts/OpenSans-Semibold.ttf');
  src: url('fonts/OpenSans-Semibold.ttf?#iefix') format('truetype'),
       url('fonts/OpenSans-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('fonts/OpenSans-Bold.ttf');
  src: url('fonts/OpenSans-Bold.ttf?#iefix') format('truetype'),
       url('fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Italic';
  src: url('fonts/OpenSans-Italic.ttf');
  src: url('fonts/OpenSans-Italic.ttf?#iefix') format('truetype'),
       url('fonts/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('fonts/OpenSans-Light.ttf');
  src: url('fonts/OpenSans-Light.ttf?#iefix') format('truetype'),
       url('fonts/OpenSans-Light.ttf') format('truetype');
}

/* COLORS */

$cardDefault : #d9d9d9;
$cardinfo    : #d9edf7;
$cardWarning : #fcf8e3;
$cardDanger  : #f2dede;
$cardSuccess : #dff0d8;
$cardPrimary : #f5f5f5;
$cardNotice  : #333333;
$cardLoco    : #333333;
$cardPurple  : #7087B9;

$textSuccess : #3c763d;
$textDefault : #333;
$textinfo    : #31708f;
$textWarning : #8a6d3b;
$textDanger  : #a94442;
$textNotice  : #ffffff;

$RedGenCat : #C00000;
$RedGenCatHover : #f30000;
$basicLink: $RedGenCat;
$textColorDefault : #666;

$selectBGColor : #EFEFEF;
$white : #fff;
$black : #000;
$grayHover : #404040;
$grayLogoNavbar : #6C6C6C;

$colorText  : #666666;
$colorTextLegalAdvice  : #999;

$SoftGrey : #efefef;
$Grey     : #666;
$DarkGrey   : #2c2930;
$MediumGrey : #828282;
$LightGrey  : #e8e8e8;

$primary: #C00000;
$secondary: #D04040 !default;

$success: #71A137 !default;
$warning: #FEBF00 !default;
$alert: #ec5840 !default;

$body-font-family: 'Open Sans', 'Source Sans Pro';

$navbar-bg-hover-participa : #bbb;
$navbar-active-shadow-small: inset 1px 0 0 0 $white;
$navbar-active-shadow-none: inset 0px 0 0 0 $white;
$White : white;
$brand: #777 !default;
