// This is a file that can be overridden by the application in order to override styles
// Notice that this file is included at the very end of the stylesheets packs to have
// more priority
//
// To override CSS variables or Foundation settings use _decidim-settings.scss
//
// By default this is empty.

$breakpoints: (
  small: 0,
  smallmedium: 450px,
  medium: 640px,
  mediumlarge: 800px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);

:root {
  --colors-gencat-red: #c00000;
  --colors-gencat-select: #efefef;
  --colors-gencat-white: #fff;
  --colors-gencat-gray-hover: #404040;
  --colors-gencat-gray-logo: #6c6c6c;
  --colors-gencat-gray-soft: #efefef;
  --colors-gencat-gray-dark: #2c2930;
  --colors-gencat-gray-light: #e8e8e8;
  --colors-gencat-gray-medium: #828282;
  --colors-gencat-text-normal: #666666;
  --colors-background-grey: #f3f4f7;
  --colors-card-default: #d9d9d9;
  --colors-card-info: #d9edf7;
  --colors-card-warning: #fcf8e3;
  --colors-card-danger: #f2dede;
  --colors-card-success: #dff0d8;
  --colors-card-primary: #f5f5f5;
  --colors-card-notice: #333;
  --colors-card-purple: #7087B9;

  --colors-text-success: #3c763d;
  --colors-text-default: #333;
  --colors-text-default2: #666;
  --colors-text-info: #31708f;
  --colors-text-warning: #8a6d3b;
  --colors-text-danger: #a94442;
  --colors-text-notice: #fff;

  --colors-background-gencat: #bbb;
}

@mixin breakpoint($point) {
  @if $point == small {
    @media (max-width: 600px) { @content; }
  }
  @elseif $point == medium {
    @media (max-width: 900px) { @content; }
  }
  @elseif $point == large {
    @media (max-width: 1200px) { @content; }
  }
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular.ttf');
  src: url('fonts/OpenSans-Regular.ttf?#iefix') format('truetype'),
       url('fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url('fonts/OpenSans-Semibold.ttf');
  src: url('fonts/OpenSans-Semibold.ttf?#iefix') format('truetype'),
       url('fonts/OpenSans-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('fonts/OpenSans-Bold.ttf');
  src: url('fonts/OpenSans-Bold.ttf?#iefix') format('truetype'),
       url('fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Italic';
  src: url('fonts/OpenSans-Italic.ttf');
  src: url('fonts/OpenSans-Italic.ttf?#iefix') format('truetype'),
       url('fonts/OpenSans-Italic.ttf') format('truetype');
}

@import "stylesheets/vendor/bootstrap";
@import "stylesheets/vendor/mq";

@import "stylesheets/general/base";
@import "stylesheets/general/alerts";
@import "stylesheets/general/axis";
@import "stylesheets/general/card";
@import "stylesheets/general/dropdown";
@import "stylesheets/general/fixes";
@import "stylesheets/general/footer";
@import "stylesheets/general/header";
@import "stylesheets/general/main";
@import "stylesheets/general/navbar";
@import "stylesheets/general/processes";
@import "stylesheets/general/tabs";
@import "stylesheets/general/timeline";

@import "stylesheets/decidims_finder";

@import "stylesheets/top_comments/base";

// Override Decidim styles
// -----------------------

body {
  color: var(--colors-text-default2);
  font-family: 'Open Sans', 'Source Sans Pro' !important;
}

// Public filters overflow text of container
#dropdown-menu-filters {
  .filter span {
    white-space: wrap;
  }
}

.title-bar {
  @include breakpoint(640 down){
    background-color: var(--colors-text-default2);
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    z-index: 999;
  }
  padding-top: 12px !important;
}

.heading6 {
  font-family: "Open Sans";
  text-transform: inherit !important;
}

.share-link{
  &.link{
    color: var(--colors-gencat-red);
  }
}
.process-header__hashtag{
  a{
    color: var(--colors-gencat-white);

    &:hover{
      color: var(--colors-gencat-red);
    }
  }
}
.card--list__data__icon{
  &:hover{
    .icon{
      fill: var(--colors-gencat-red) !important;
    }
  }
}
// Hide hollow button on lists
.card--process{
  .button.secondary.small.hollow.card__button{
    display: none
  }
}
.process_stats{
  .process_stats-item{
    .icon{
      color: var(--colors-gencat-red) !important;
    }
  }
}
.process-header{
  .phase-item--past{
    span,
    &::after{
      background-color: var(--colors-gencat-red) !important;
    }
  }
}
.process-nav__link{
  &:hover,
  &.is-active{
    color: var(--colors-gencat-red) !important;
  }
}

.part-pointer {
  cursor: pointer;
}

.part-scrollUp {
  cursor: pointer;
  padding-left: 0px !important;
}

.part-center {
  text-align: center;
}
.part-process-filter {
  position: relative;
  margin-bottom: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: .05em;
  color: #3D393C;
  padding-right: 22px;
  &:hover {
    color: var(--colors-gencat-red);
    cursor: pointer;
  }
}
.part-process-filter-container {
  display: inline-block;
  padding-left: 4px;
}
.part-red {
  color: var(--colors-gencat-red);
}

.part-grey {
  color: var(--colors-gencat-text-normal)LegalAdvice;
}

.part-bold {
   font-weight: bold;
}
.part-ol-no-point{
  list-style: none;
  background: none;
  border-radius: 0;
  padding: 0;
  margin: 1.250em 0;
  li {
    display: inline-block;
    white-space: nowrap;
  }
  li + li:before {
    content: "> ";
  }
  .part-not-here {
    a {
      font-size: 0.813em;
      color: #fff;
      background: var(--colors-text-default);
      font-family: "Open Sans Semibold";
      &:hover {
        text-decoration: underline !important;
      }
    }
  }
  .part-is-here {
    font-size: 0.813em;
    color: var(--colors-text-default);
    background: none;
  }
}

/* Paddings, margins, aligns*/

.participa-no-bottom {
  margin-bottom: 0px !important;
}

.part-margin-bottom-5 {
  margin-bottom: 5px !important;
}

.participa-pull-left {
  @include breakpoint(smallmedium medium mediumlarge large xlarge down){
    text-align: left;
  }
}

.part-right{
  float: right;
}

.part-left{
  float: left !important;
}

.part-sm-center {
  @include breakpoint(smallmedium down){
  text-align: center !important;
  }
}

.part-sm-social-center {
  @include breakpoint(992 down){
    left: 35%;
  }
}

.part-margin-top-5 {
  margin-top: 5px;
}

.part-margin-top-15 {
  margin-top: 15px;
}

.part-margin-bot-39 {
  margin-bottom: 39px;
}

.part-sm-padding-left-30 {
  padding-left: 30px !important;
}

.part-margin-lr-15 {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
  @include breakpoint( 768 up){
    margin-top: 15px;
  }
}

.part-margin-r-5 {
  margin-right: 5px;
}

.part-padding-r-22 {
  padding-right: 22px;
}

.part-padding-r-26 {
  padding-right: 26px;
}
.part-padding-b-5 {
  padding-bottom: 5px;
}

.part-padding-b-15 {
  padding-bottom: 15px;
}

.part-margin-l-15{
  margin-left: 15px;
}

.part-padding-top-35 {
  padding-top: 35px;
}

.part-cont-desplega {
  p  {
    padding-bottom: 5px;
  }
}

.part-dropdown-content {
  padding: 20px;
  font-size: 13px;
  color: var(--colors-gencat-text-normal);
}

.part-dropdown-3 {
  .timeline__header {
    margin-bottom: 0px !important;
  }
}

.part-justify {
  text-align: justify;
}

.usermenu-off-canvas-holder .usermenu-off-canvas {
  border-top: 1px solid var(--colors-card-notice);
  border-bottom: 1px solid var(--colors-card-notice);
}

.participa-grey {
  .column {
  padding-left: 0px;
  padding-right: 0px;
  }
}

.part-margin-1-top {
  padding-top: 15px !important;
  @include breakpoint(640 down){
  margin-top: 1px !important;
  padding-top: 0px !important;
  }
}

.part-show-sm {
  @include breakpoint(640 up){
    display: none;
  }
}

.part-hide-sm{
  @include breakpoint(640 down){
  display: none;
  }
}

.part-hide {
  display: none;
}

.part-fix-width-lg {
  @include breakpoint(640 up){
  height: 48px;
  padding: 5px;
  }
}

.part-sm-fix-top {
  @include breakpoint(640 down){
  z-index: 10;
  position: fixed;
  top: 0px;
  width:100%;
  height: 56px;
  padding: 0;
  }
}

.part-sm-top-space {
  @include breakpoint(640 down){
  margin-top: 56px;
  }
}

/* FORMS, SELECTS */

.part-input-text {
  border-radius: 0px !important;
}
.part-input-text:focus{
  border-color: #bababa !important;
}

.error-form input {
  border-color: var(--colors-gencat-red) !important;
  color: var(--colors-gencat-red) !important;
  font-size: 14px;
}

.error-form input:focus {
  border-color: var(--colors-gencat-red) !important;
  color: var(--colors-gencat-red) !important;
  font-size: 14px;
}

.error-form textarea {
  border-color: var(--colors-gencat-red) !important;
  color: var(--colors-gencat-red) !important;
  font-size: 14px;
}

.error-form textarea:focus {
  border-color: var(--colors-gencat-red) !important;
  color: var(--colors-gencat-red) !important;
  font-size: 14px;
}

.part-input-2:focus{
  border: 2px solid #ccc !important;
  border-color: #ccc !important;
  font-size: 14px;
}

.part-input-2 {
  border-color: #d9d9d9 !important;
  display: block;
  width: 100%;
  height: 34px !important;
  padding: 6px 12px;
  font-size: 14px !important;
  line-height: 1.428571429;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 2px solid #ccc !important;
  border-radius: 4px;
  color: #555555 !important;
}

.part-input-textarea {
  border-color: #d9d9d9 !important;
  display: block;
  padding: 6px 12px;
  font-size: 14px ;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 2px solid #ccc !important;
  border-radius: 4px;
  color: #555555 !important;
}

.part-input-textarea:focus{
  border: 2px solid #ccc !important;
  border-color: #ccc !important;
  color: #555555 !important;
  font-size: 14px ;
}

.part-search {
  width: 100%;
  display: inline-block;
  input {
    width: 95%;
  }
  .btn {
    width: 5%;
  }
}

.input-group {
  .part-btn-group {
    background-color: var(--colors-gencat-red) !important;
    border-radius: 0px !important;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    &:hover{
      background-color: var(--colors-gencat-red)Hover !important;
    }
  }
}

.part-select {
  border-radius: 5px !important;
  -webkit-appearance: none !important;
  background-color: var(--colors-gencat-select) !important;
}

.part-select:focus {
  border: 1px solid #e8e8e8 !important;
  background-color: var(--colors-gencat-select) !important;
}

.part-error-msg {
  -moz-box-shadow: inset 0px 2px 6px rgba(192, 0, 0, 0.2);
  -webkit-box-shadow: inset 0px 2px 6px rgba(192, 0, 0, 0.2);
  box-shadow: inset 0px 2px 6px rgba(192, 0, 0, 0.2);
  height: auto;
  /* width: 245px; */
  border-radius: 3px;
  padding: 16px 19px;
  position: relative;
  background: #fcf4f4;
  overflow: visible;
  color: #bf0000;
  font-size: 13px;
}

.part-success-msg {
  background: #EDFCED;
  color: #00B200;
  border: 1px solid #00B200;
  font-size: 15px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 15px;
  padding-right: 15px;
}

.day.active {
  background: var(--colors-gencat-red) !important;
  color: var(--colors-gencat-white) !important;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

.datepicker-days {
  .day {
    color: var(--colors-text-default);
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  .date-switch {
    font-weight: normal;
  }

  .dow {
    font-weight: normal;
    color: var(--colors-text-default2);
  }

  .next {
    color: var(--colors-gencat-red) !important;
  }
  .prev {
    color: var(--colors-gencat-red) !important;
  }
}

#assemblies-filter{
  display: none;
}

#participatory-space-filters{
   .picker-prompt{
      a{
        color: #D04040;

        &:hover{
          text-decoration: none;
        }
      }
    }

  .picker-values{
    div{
      margin: 0.3em;

      input {
        margin: 4px 2px 4px 2px
      }
    }
  }

  select {
    color: #D04040;
  }
}

/* Tables */
.part-table {
  border-collapse: collapse;
  border-spacing: 2px;
  border-color: grey;
  tr {
    th {
      background: var(--colors-text-default2);
      font-size: 14px;
      font-family: "Open Sans";
      text-align: left;
      color: var(--colors-gencat-white);
    }
    td {
      border-color: rgb(221, 221, 221);
      border-width: 1px;
      border-style: solid;
      font-size: 14px;
      color: var(--colors-text-default2);
    }
  }

  .part-table-color-2 {
    background: #f5f5f5;
  }
}

/* buttons, links */

.part-a {
  color: var(--colors-gencat-red) !important;
}

.part-a-bold {
  font-family:'Open Sans Semibold' !important;
}

.part-a:hover {
  color: var(--colors-gencat-red) !important;
  text-decoration: underline !important;
}

.order-by__tab{
  &:hover,
  &.is-active{
    color: var(--colors-gencat-red) !important;
  }
}
.card__button{
  &.hollow{
    border-color: var(--colors-gencat-red) !important;
    color: var(--colors-gencat-white) !important;
  }
}
.button{
  &.hollow{
    color: var(--colors-gencat-white) !important;

  }
}
.card__link {
  color: var(--colors-gencat-red) !important;
  &:hover,
  &:focus{
    text-decoration: underline !important;
    color: var(--colors-gencat-red) !important;
  }
}
.row.attachments{
  .card__link {
    &:hover,
    &:focus{
      text-decoration: none !important;
    }
  }
}
.part-a:active {
  color: var(--colors-gencat-red) !important;
  @include breakpoint(small down){
    background-color: var(--colors-text-default2);
    color: var(--colors-gencat-select) !important;
    border-radius: 5px;
  }
}

.part-href-item {
  .card__content {
    padding: 5px;
  }

  a {
    margin: 0 !important;
    font-size: 18px !important;
    color: #BF0000 !important;
    font-family: 'Open Sans' !important;
  }

  .part-desc-href-item {
    padding-top: 8px;
    font-size: 13px;
    color: #666;
  }
}

.button--sc.expanded:not(.success){
  background-color: var(--colors-gencat-red) !important;
  color: var(--colors-gencat-white) !important;
  border: 1px solid var(--colors-gencat-red);
}

.subhero-cta{
  color: var(--colors-gencat-red) !important;
}
.part-btn {
  background-color: var(--colors-gencat-red) !important;
  font-size: 14px;
  font-weight: bold;
}

.part-btn:hover {
  background-color: var(--colors-gencat-red)Hover !important;
}

.ql-toolbar {
  button {
    background-color: #fff;    
  }
}

.part-btn-tiny {
  padding: 5px 10px !important;
  font-size: 14px !important;
  line-height: 1.5 !important;
  border-radius: 3px !important;
  font-weight: bold;
}

.part-btn-xtiny {
  padding: 1px 5px !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
  border-radius: 3px !important;
}

.part-dropdown {
  a {
    color: var(--colors-text-default2) !important;
  }
  a:hover {
    font-weight: bold !important;
  }
}

.check-newsletter.button.clear.secondary {
  background-color: var(--colors-gencat-white);
  color: var(--colors-gencat-red);
  &:hover, &:focus {
    background-color: var(--colors-gencat-red);
    color: var(--colors-gencat-white);
  }
}

/* */

.image {
   position: relative;
   width: 100%; /* for IE 6 */

  h5 {
  position: absolute;
  bottom: 25px;
  left: 5%;
  width: 100%;
  color: white;
  }
}

.part-img-container {
  width: 100%;
  margin-bottom: 28px;
  .image {
    width: 100%;
    a {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}

/* part-about */

.part-about-content {
  border-width: 0px !important;

  .card__title {
    color: rgb(51, 51, 51);
    font-family: "Open Sans";
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: 500;
  }

  .part-about-item {
    padding-left: 0px;
    padding-bottom: 15px;
    padding-top: 5px;

    @include breakpoint(992 down){
      border-top-width: 1px;
      border-top-style: solid;
      border-top-color: var(--colors-card-default);
    }
  }

  a {
    margin: 0 !important;

    font-size: 18px !important;
    color: #BF0000 !important;
    font-family: 'Open Sans' !important;
  }
}

/* backgrounds */
.part-background-header {
  background-color: var(--colors-card-primary);
}

.part-background-body {
  background-color: var(--colors-gencat-white);
}

.part-background-fald {
  background-color: var(--colors-card-primary) !important;
}

.part-background-footer {
  background-color: var(--colors-gencat-select);
}


.slide p {
  background: linear-gradient(to bottom, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 0.5) 72%, rgba(51, 51, 51, 1) 100% );
  height: 300px;
  font-size: 25px;
  font-weight: bold;
  @include breakpoint(888.5 down){
    font-size: 20px;
  }
  @include breakpoint(600 down){
    font-size: 15px;
  }
}

/* process phases */
.timeline__phase {
  margin-left: -60px !important;
  @include breakpoint(1024 down){
    margin-left: -50px !important;
  }
  @include breakpoint(640 down){
    margin-left: -50px !important;
  }
}

.timeline__item:before {
  margin-left: -47px;
  @include breakpoint(640 down){
    margin-left: -36px !important;
  }
  @include breakpoint(1024 down){
    margin-left: -36px !important;
  }
}

.timeline__item {
  @include breakpoint(640 down){
    margin-left:10px;
  }
}

.footer-separator + .expanded .wrapper {
  background-color: #fff;
}

.part-card-title {
  &:hover,
  &:focus{
    color: #333333;
  }
}

.part-primary-font {
  font-family: 'Open Sans';
}

h1.part-primary-font{
  font-size: 35px;
}
.section .lead p {
  font-size: 20px !important;
}


.part-introduction-padding {
  padding-bottom: 40px;
}

.actions .button.expanded {
  background: var(--colors-gencat-red);
}

.hidden-submit {
  display: none;
}

.part-regulation-top-margin {
  margin-top: 6px;
}

.part-cont-2 {
  font-size: 28px;
  color: var(--colors-gencat-text-normal);
  @include breakpoint( small down){
    font-size: 20px;
    color: var(--colors-gencat-text-normal);
  }
}

.part-cont-3 {
  font-family:'Open Sans Semibold';
  font-size: 24px;
  color: var(--colors-gencat-text-normal);
  @include breakpoint( small down){
    font-size: 22px;
    color: var(--colors-gencat-text-normal);
  }
}

.part-cont-4 {
  font-size: 14px;
  color: var(--colors-gencat-text-normal);
  font-family:'Open Sans Semibold';
  @include breakpoint( small down){
    font-size: 14px;
    color: var(--colors-gencat-text-normal);
    font-family:'Open Sans Semibold';
  }
}

.part-register-title {
  font-weight: 600 !important;
  font-family: 'Open Sans' !important;
}

.part-timeline-margin {
  margin-top: 15px;
}
.breadcrumb {
  list-style: none;
  overflow: hidden;
  font: 18px Sans-Serif;
}
.breadcrumb li {
  float: left;
}
.breadcrumb li a {
  font-family: "Open Sans";
  color: white;
  text-decoration: none;
  padding: 10px 0 10px 65px;
  background: brown; /* fallback color */
  background: #C00000;
  position: relative;
  display: block;
  float: left;
}
.breadcrumb li a::after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid #C00000;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 100%;
  z-index: 2;
}
.breadcrumb li a::before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid white;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 1px;
  left: 100%;
  z-index: 1;
}
.breadcrumb li:first-child a {
  padding-left: 10px;
}
.breadcrumb li:nth-child(2) a       { background:        #cc0000; }
.breadcrumb li:nth-child(2) a:after { border-left-color: #cc0000; }
.breadcrumb li:nth-child(3) a       { background:        #e60000; }
.breadcrumb li:nth-child(3) a:after { border-left-color: #e60000; }
.breadcrumb li:nth-child(4) a       { background:        #ff0000; }
.breadcrumb li:nth-child(4) a:after { border-left-color: #ff0000; }
.breadcrumb li:nth-child(5) a       { background:        #ff1a1a; }
.breadcrumb li:nth-child(5) a:after { border-left-color: #ff1a1a; }
.breadcrumb li:last-child a {
  background: transparent !important;
  color: black;
  pointer-events: none;
  cursor: default;
}
.breadcrumb li:last-child a::after {
  border: 0;
}
.breadcrumb li a:hover {
  background: #e60000;
}
.breadcrumb li a:hover:after {
  border-left-color: #e60000 !important;
}
.home-bullet__icon svg{
  fill:#C00000 !important;
}

.order-by__tab:hover, .order-by__tab.is-active{
  color: inherit !important;
  text-decoration: underline;
}

.button.disabled, .button[disabled]{
  opacity: 0.5 !important;
}

.filters__search .input-group > :last-child > *, .filters__section .input-group > :last-child > *{
  border-radius: 0px !important;
}
.home-pam__lowlight:last-child{
  clear: both;
}

.process-nav__more{
  color: var(--colors-gencat-white) !important;
  &.hover{
    color: var(--colors-gencat-red) !important;
  }
}
.process-nav__hidden-content__more{
  color: var(--colors-gencat-red) !important;
}
.process-nav__more i{
  background-color: var(--colors-gencat-white) !important;
}
.process-nav__hidden-content__more i{
  background-color: var(--colors-gencat-red) !important;
}

.feder-section{
  font-size: 11px;
}

.inline-filters button[data-toggle], .inline-filters .dropdown-pane{
  width: 16rem !important;
}

// QUILL EDITOR

// Fix space between number and text in li elements
.ql-editor-display ol li::before {
  width: auto;
}
