<%
  def proposal_component_unpublished?
    proposal_component = nil

    if defined?(current_participatory_process)
      @group = Decidim::ParticipatoryProcessGroup.find(current_participatory_process.decidim_participatory_process_group_id) if current_participatory_process.decidim_participatory_process_group_id

      proposal_component = current_participatory_process.components.find_by(manifest_name: 'proposals')
    end

    !proposal_component.nil? && !proposal_component&.published?
  end
%>

<% if proposal_component_unpublished? %>
  <% if translated_attribute(@group&.title) == 'Normativa' %>
    <div class="callout alert">
      <%= t('decidim.participatory_processes.admin.participatory_processes.proposal_component_alert') %>
    </div>
  <% end %>
<% end %>
