default: &default
  # Database configuration
  DB_PORT: "5432"
  DB_POOL: <%= ENV.fetch("RAILS_MAX_THREADS") { "5" } %>
  DB_HOST: <%= ENV.fetch("DATABASE_HOST") { "localhost" } %>
  # Mailer configuration
  SMTP_ADDRESS: "smtp email address"
  SMTP_DOMAIN: "smtp email domain"
  SMTP_PORT: "587"
  SMTP_USERNAME: "smtp email username"
  SMTP_PASSWORD: "smtp email password"
  # GeoCoder configuration (developer.here.com)
  HERE_API_KEY: "here_apy_key"
  # Socrata Open Data API, or SODA configuration.
  SODA_DOMAIN: "soda.demo.socrata.com"
  SODA_USERNAME: "user@example.com"
  SODA_PASSWORD: "password"
  SODA_APP_TOKEN: "app_token"
  SODA_DATASET_IDENTIFIER: "dataset_identifier"

development:
  <<: *default
  DB_DATABASE: "participa_gencat_development"
  DB_USERNAME: "admin"
  DB_PASSWORD: "admin"

test:
  <<: *default
  TEST_DB_DATABASE: "participa_gencat_test"
  TEST_DB_USERNAME: "admin"
  TEST_DB_PASSWORD: "admin"

integration:
  <<: *default
  # secrets
  SECRET_KEY_BASE: <%= ENV['SECRET_KEY_BASE'] %>

staging:
  <<: *default

production:
  <<: *default
