<!DOCTYPE html>
<html>
<head>
  <title>Decidim theme</title>
  <%= stylesheet_link_tag    "decidim/theme/application", media: "all" %>
  <%= javascript_include_tag "decidim/theme/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
