<!DOCTYPE html>
<html>
<head>
  <title>Decidim type</title>
  <%= stylesheet_link_tag    "decidim/type/application", media: "all" %>
  <%= javascript_include_tag "decidim/type/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
