$primary: #C00000;
$secondary: #D04040 !default;

$success: #71A137 !default;
$warning: #FEBF00 !default;
$alert: #ec5840 !default;

@import "./decidim";
@import "./vendor/*";
@import "./general/*";

.check-newsletter.button.clear.secondary {
  background-color: $white;
  color: $primary;
  &:hover, &:focus {
    background-color: $primary;
    color: $white;
  }
}
