<p class="confimation-survey-answers">
  <%= t("decidim.surveys.surveys.confirmation_email.body", questionnaire_title: translated_attribute(@questionnaire.title), participatory_space: translated_attribute(@participatory_space.title))%>
</p>
