name: "[CI] Validate migrations"

on:
  push:
    branches:
      - main
      - release/*
      - "*-stable"
  pull_request:

env:
  DB_DATABASE: app
  DB_USERNAME: postgres
  DB_PASSWORD: postgres
  RUBY_VERSION: 3.2.6

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:11
        ports: ["5432:5432"]
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        env:
          POSTGRES_PASSWORD: postgres
    env:
      DB_DATABASE: app
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      DB_HOST: localhost
      SECRET_KEY_BASE: "secret_key_base"

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - uses: ruby/setup-ruby@master
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
          bundler-cache: true
      - name: Recover Ruby dependency cache
        uses: actions/cache@v3
        with:
          path: ./vendor/bundle
          key: ${{ runner.OS }}-app-rubydeps-${{ hashFiles('Gemfile.lock') }}
          restore-keys: |
            ${{ runner.OS }}-app-rubydeps-${{ env.cache-name }}-
            ${{ runner.OS }}-app-rubydeps-

      - name: Set bundle local config vendor/bundle path
        run: bundle config set --local path 'vendor/bundle'

      - name: Install Ruby deps
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 10
          max_attempts: 3
          retry_on: error
          command: bundle install --jobs 4 --retry 3

      - name: Create empty application.yml
        run: touch config/application.yml

      - name: Run specs
        run: bin/rails cdtb:upgrades:validate_migrations
